.top h1{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    color: #2c4964;
}

.tag{
    text-align: center;
    font-size: 12.5px;
    width: 80%;
}

.verticle{
    rotate: -90deg;
    /* position: absolute; */
    position: relative;
    /* top: 65%; */
    /* top: 100; */
    top: 170px;
    /* left: 250px; */
    left: -350px;
    font-weight: unset !important;
    font-size: 11px !important;
    letter-spacing: 0.7px;
    word-spacing: 3px;
    text-transform: uppercase;
}

#bar-graph{
    height: 300px;
    width: 80%;
}

.bot{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.bar{
    width: 50px;
    height: 100%;
    margin: 0px 15px;
    display: flex;
    align-items: end;
    overflow: hidden;
    border-radius: 2px;
    /* border-top-left-radius: 2px;
    border-top-right-radius: 2px; */
}

.prog{
    background-color: #0B4F6C;
    width: 100%;
    height: 50%;
    border-radius: 2px;
}

#details{
    width: 70%;
}

#details p{
    font-size: 13px;
    margin-left: 5px !important;
    margin-bottom: 3.5px !important;
}

#details i{
    font-size: 12.5px;
    margin-bottom: 1.5px;
    /* color: blue; */
    /* -webkit-text-stroke: 0.2px; */
}

#bar-graph i{
    font-size: 14px;
    margin-top: 5px;
    color: #0B4F6C;
}

#row{
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    margin-bottom: 7px !important;
}

.total p{
    font-size: 12.5px !important;
    font-weight: 700;
}

.donate a{
    background: #1977cc;
    color: #fff;
    border-radius: 50px;
    padding: 7.5px 0px;
    width: 120px;
    text-align: center;
    transition: ease-out 0.25s;
    font-size: 14px;
}

.donate a:hover{
    color: #166ab5;
    background: #fff;
}
  